@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0px 100px;
}
/* App.css */

.active-link {
    text-decoration: underline;
    color: rgb(177, 27, 177); /* Optional: Change color for active link */
    font-weight: bold;
    font-size: 20px;
  }
  
  .inactive-link {
    text-decoration: underline;
    color: black; /* Optional: Default color for inactive links */
  }
  
@media only screen and (max-width: 768px) {
  body{
    margin: 0px 30px;
}
}